* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
}

.clearfix {
  clear: both;
}

.bar {
  position: fixed;
  height: 100%;
  overflow-y: auto;
}


/* 
  SIDEBAR
*/

.sidebar {
  width: 25%;
  left: 0;
  background: #1E213A linear-gradient(-45deg, #1E213A, #282d53);
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 40px 0;
  color: #d4d4d4;
}

.sidebar h1 {
  font-size: 80px;
}

.sidebar h1 span {
  font-size: 45px;
  font-weight: lighter;
}

.sidebar img {
  width: 50%;
  margin: 0 22%;
  display: block;
}

/* 
  MAINBAR
*/

.mainbar {
  width: 75%;
  right: 0;
  padding: 0 5%;
  overflow-y: auto;
  background: #100E1D;
}

.mainbar .temp-type-switcher {
  float: right;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #1E213A;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  border-radius: 50%;
  color: #E7E7EB;
  margin-top: 35px;
  cursor: pointer;
}

.mainbar .temp-type-switcher:nth-of-type(1) {
  margin-left: 20px;
}

.mainbar .temp-type-switcher.active {
  background: #E7E7EB;
  color: #1E213A
}

.mainbar .top-nav {
  overflow-x: auto;
}

.mainbar .thumbs {
  /* width: 1150px;
  height: 250px; */
}

.mainbar .thumb {
  height: 220px;
  width: 15%;
  background: #1E213A linear-gradient(45deg, #1E213A, #282d53);
  float: left;
  margin: 30px 3.1%;
  color: #FFF;
  text-align: center;
  position: relative;
  border-radius: 5px;
}

.mainbar .thumb:first-child {
  margin-left: 0;
}

.mainbar .thumb:last-child {
  margin-right: 0;
}

.mainbar .thumb .day {
  margin-top: 20px;
}

.mainbar .thumb img {
  height: 85px;
  display: block;
  margin: 24px auto;
}

.mainbar .thumb .temp {
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.mainbar .thumb .temp span {
  margin: 0 5px;
}

.mainbar h2 {
  margin-top: 30px;
}

.panel {
  width: 45%;
  height: 200px;
  display: inline-block;
  margin: 2.5%;
  text-align: center;
  background: #1E213A linear-gradient(45deg, #1E213A, #282d53);
  position: relative;
  border-radius: 5px;
}

.other-data {
  width: 105%;
  margin-left: -2.5%;
}

.other-data h1 {
  font-size: 55px;
}

.other-data h1 span {
  font-size: 20px;
  font-weight: normal;
}

.panel p {
  width: 100%;
  top: 20px;
  height: 0;
  position: absolute;
}

.panel .additional-info {
  position: absolute;
  bottom: 20px;
  width: 100%
}

.big-panel {
  height: 250px;
}

.arrow {
  width: 20px;
  height: 5px;
  margin: 15px auto;
  background-color: #E7E7EB;
}

.arrow:before {
    content:"";
    position:absolute;
    top: -8px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-right: 11px solid #E7E7EB;
    border-bottom: 11px solid transparent;
}

.panel h1 {
  line-height: 200px;
}

.big-panel h1 {
  line-height: 250px;
}

.progress-bar {
  height: 10px;
  margin: -50px auto;
  display: block;
  width:80%;
  background: #E7E7EB;
}

.progress {
  height: 10px;
  background: #FFEC65 linear-gradient(45deg, #FFEC65, #cabc4f);
}